.newsArticleDate {
  color: #555A64;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}

html[data-theme=dark] .newsArticleTitle {
  color: #b5a1ff;
}
.newsArticleTitle {
  display: block;
  color: #14193C;
  text-decoration: none;
  font-size: 20px;
  line-height: 34px;
}

.newsArticle {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E6F0;
}

.categoryBlock {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.categoryItem {
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.categorySelected {
  background: #7D6EFF;
  color: white;
}

.emptyWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.emptyText {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}