.subMenuWrap {
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
}

.desktop {
  position: absolute;
  left: 0;
  top: 30px;
  width: max-content;
  padding: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.visible.desktop {
  opacity: 1;
  visibility: visible;
}

.hidden.desktop {
  opacity: 0;
  visibility: hidden;
}

.mobile {
  width: 100%;
  padding-bottom: 10px;
}

.visible.mobile {
  display: block;
}

.hidden.mobile {
  display: none;
}

.singleColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.twoColumn {
  column-count: 1;
  column-gap: 12px;
}

@media (min-width: 768px) {
  .twoColumn {
    column-count: 2;
  }
}
