.subMenuWrap {
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
}

[data-theme='dark'] .subMenuWrap {
  background: #24262a;
}

/* === Десктоп (>=457px) === */
.subMenuWrap.desktop {
  position: absolute;
  left: 0;
  top: 30px;
  width: max-content;
  padding: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.subMenuWrap.desktop.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 996px) {
  .subMenuWrap {
    width: 100% !important;
    padding-bottom: 10px !important;
    position: static !important;
    box-shadow: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .subMenuWrap.hidden {
    display: none;
  }

  .subMenuWrap.visible {
    display: block;
  }
}

/* === Колонки === */
.singleColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.twoColumn {
  column-count: 1;
  column-gap: 12px;
}

@media (min-width: 996px) {
  .twoColumn {
    column-count: 2;
  }
}
