.subMenu {
  position: relative;
  padding-left: 8px;
  font-size: 18px;
  color: #14193c;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  outline-color: #7d6eff;
  gap: 5px;
  color: #14193c;
  background: transparent;
  border: none;
  transition: color 0.2s ease;
}

[data-theme='dark'] .button {
  color: #e1e6f0;
}
[data-theme='dark'] .subMenu {
  color: #e1e6f0;
}

@media (min-width: 996px) {
  .button {
    font-size: 16px;
  }

  .button:hover {
    color: #505578;
  }
}

.arrow {
  width: 10px;
  height: auto;
  flex-shrink: 0;
}

[data-theme='dark'] .arrow path {
  stroke: #e1e6f0;
}

[data-theme='dark'] .button:hover {
  color: #e1e6f0 !important;
}

@media (max-width: 996px) {
  .subMenu {
    border-bottom: 1px solid #dce1eb;
    padding-left: 0;
  }

  .arrow {
    width: 15px;
  }

  .button {
    font-size: 18px;
    height: 54px;
  }
}
