.libraries {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.libsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media (max-width: 968px) {
  .libsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .libsBlock {
    grid-template-columns: repeat(1, 1fr);
  }
}



.libSvg {
  flex-shrink: 0;
}
.libBlock {
  padding: 24px;
  border-radius: 10px;
  background: #F5F0FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleBlock {
  display: flex;
  gap: 12px;
  align-items: center;
}
.libTitle {
  font-size: 18px;
  color: #191E32;
  /* line-height: 28px; */
  font-weight: 700;
  margin: 0;
}
.libBtn {
  display: inline-block;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid #A54BFF;
  background: transparent;
  height: 32px;
  line-height: 32px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: #A54BFF;
  text-align: center;
  transition: all 0.3s;
}
@media (max-width: 576px) {
  .libBtn {
    width: 50%;
  }
}
.libBtn:hover {
  text-decoration: none;
  background-color: #A54BFF;
  color: white
}
.libBtns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mainTitle {
  font-size: 50px;
  color: #191E32;
  /* line-height: 28px; */
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.subTitle {
  color: #4B505A;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .libraries {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mainTitle {
    font-size: 34px;
    line-height: 40px;
  }
  .subTitle {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}