.libraries {
  background: #F4F6FA;
  padding-top: 120px;
  padding-bottom: 120px;;
}

.libsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media (max-width: 968px) {
  .libsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .libsBlock {
    grid-template-columns: repeat(1, 1fr);
  }
}



.libSvg {
  flex-shrink: 0;
}
.libBlock {
  padding: 21px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: white;
}
.titleBlock {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 36px;
}
.libTitle {
  font-size: 24px;
  color: #1E283C;
  /* line-height: 28px; */
  font-weight: 500;
  margin: 0;
}
.libBtn {
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #7D6EFF;
  background: transparent;
  width: 110px;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
  font-size: 18px;
  color: #7D6EFF;
  text-align: center;
  transition: all 0.3s;
}
@media (max-width: 576px) {
  .libBtn {
    width: 50%;
  }
}
.libBtn:hover {
  text-decoration: none;
  background-color: #7D6EFF;
  color: white
}
.libBtns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.mainTitle {
  color: #14193C;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 30px;
}

.subTitle {
  color: #14193C;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .libraries {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mainTitle {
    font-size: 34px;
    line-height: 40px;
  }
  .subTitle {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}