.container img {
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
}

.imgWithTitle {
  margin-bottom: 10px;
}

.wrap {
  background: #f6f8fa;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #14193c;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  min-height: 26px;
  margin-top: auto;
}
