.container {
  display: grid;
  grid-template-columns: repeat(var(--images-layout-columns, 2), minmax(0, 1fr));
  gap: var(--images-layout-gap, 16px);
  width: 100%;
  margin-bottom: 20px;
}

.container > * {
  width: 100%;
  height: 100%;
}
