.docsMenuBlock {
  height: 42px;
  border-bottom: 1px solid #e1e6f0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.pageTitle {
  margin-left: 12px;
  font-size: 16px;
  color: #14193c;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

@media (min-width: 997px) {
  .docsMenuBlock {
    display: none !important;
  }
}
