.hero {
  padding-top: 23px;
  padding-bottom: 77px;
  background: url('/static/img/main_bg.svg');
  background-size: cover;
}
.title {
  color: #191E32;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 24px;
}
.subTitle {
  color: #4B505A;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 42px;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  width: 270px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: white;
  background: #A54BFF;
}
.btn:hover {
  text-decoration: none;
  color: white;
}
.mainWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroImg {
  flex-shrink: 0;
}
.leftBlock {
  width: 50%;
}

@media (max-width: 768px) {
  .heroImg {
    display: none;
  }
  .leftBlock {
    width: auto;
  }
  .hero {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  .subTitle {
    font-size: 18px;
    line-height: 26px;
  }
} 