/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7D6EFF;
  --ifm-color-primary-dark: #7D6EFF;
  --ifm-color-primary-darker: #7864FF;
  --ifm-color-primary-darkest: #7864FF;
  --ifm-color-primary-light: #4682E6;
  --ifm-color-primary-lighter: #5e90e8;
  --ifm-color-primary-lightest: #80aaf4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* --ifm-navbar-background-color: #1E50D2; */
  /* --ifm-navbar-link-color: #ffffff; */
  --ifm-navbar-link-hover-color: #7D6EFF;
  --docsearch-searchbox-background: #3264EB;
  --ifm-h1-font-size: 2.25rem;
  --ifm-color-danger-contrast-foreground: #F04650;
  --ifm-color-danger-contrast-background: #FFF0F0;
  --ifm-color-info-contrast-foreground: #37A0FF;
  --ifm-color-info-contrast-background: #EBF5FF;
  --ifm-color-warning-contrast-foreground: #E6780F;
  --ifm-color-warning-contrast-background: #FFF5EB;
  --ifm-color-success-contrast-foreground: #14C87D;
  --ifm-color-success-contrast-background: #EBF5F0;
  --ifm-color-secondary-contrast-background: #F7F8FC;
  --ifm-code-background: #EBF2FF;
  --ifm-alert-border-color: #37A0FF;
  --ifm-color-info-dark: #37A0FF;
  --ifm-color-warning-dark: #FA9637;
  --ifm-color-success-dark: #14C87D;
  --ifm-color-secondary-dark: #9BA0AA;
  --ifm-table-stripe-background:#F8F9FC;
  --ifm-table-head-background: transparent;
  --ifm-table-background: transparent;
  --docusaurus-details-decoration-color: #7D6EFF;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #B4A0FF;
  --ifm-color-primary-dark: #B4A0FF;
  --ifm-color-primary-darker: #B4A0FF;
  --ifm-color-primary-darkest: #B4A0FF;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-danger-contrast-foreground: #FF5F69;
  --ifm-color-danger-contrast-background: #413232;
  --ifm-color-info-contrast-foreground: #37A0FF;
  --ifm-color-info-contrast-background: #2D3C50;
  --ifm-color-warning-contrast-foreground: #FA9637;
  --ifm-color-warning-contrast-background: #463C32;
  --ifm-color-success-contrast-foreground: #14C87D;
  --ifm-color-success-contrast-background: #32413C;
}

.DocSearch-Button {
 border-radius: 5px !important;
 /* background: #3264EB !important; */
 /* color: white !important; */
}

/* .DocSearch-Button .DocSearch-Search-Icon {
  color: white !important;
} */
/* .toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module svg {
  color: white;
} */
.toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module:hover {
  background: #87AAFF !important;
}

.menu__link {
  /* padding-left: 30px; */
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu__link--active {
  font-weight: bold;
  /* color: red; */
}

[data-theme='dark'] .menu__link--active {
  color: #B4A0FF;
}


.theme-doc-sidebar-item-link-level-1:nth-child(1n) .menu__link::before {
  content: '';
  background: url('/img/18x18_start.svg');
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.theme-doc-sidebar-item-category-level-1:nth-child(2) > .menu__list-item-collapsible .menu__link::before {
  content: '';
  background: url('/img/18x18_api.svg');
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.theme-doc-sidebar-item-category-level-1:nth-child(3) > .menu__list-item-collapsible .menu__link::before {
  content: '';
  background: url('/img/18x18_captcha.svg');
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.theme-doc-sidebar-item-category-level-1:nth-child(4) > .menu__list-item-collapsible .menu__link::before {
  content: '';
  background: url('/img/18x18_external.svg');
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.theme-doc-sidebar-item-category-level-1:nth-child(5) > .menu__list-item-collapsible .menu__link::before {
  content: '';
  background: url('/img/18x18_extension.svg');
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.theme-doc-sidebar-item-link-level-1:nth-child(6) > .menu__link::before {
  content: '';
  background: url('/img/18x18_news.svg');
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.navbar__link--active {
  font-weight: bold;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.25rem;
}
.markdown > h2 {
  --ifm-h2-font-size: 1.5rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.25rem;
}

.alert p {
  color: #1E232D;
}

[data-theme='dark'] .alert{
  color: #DCE1EB;
}

.admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module {
  color: var(--ifm-alert-foreground-color);
}

.admonitionIcon_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module {
  display: none !important;
}

.admonition_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module {
  border: 1px solid var(--ifm-alert-foreground-color);
}

code {
  color: #8264FF;
  border-color: #D2D2FF;
}

[data-theme='dark'] code {
  color: #B4A0FF;
  border-color: #3C3764;
  background: #3C3764;
}


[data-theme='dark'] details {
  background: transparent !important;
  border: 1px solid #D2D2FF !important;
  border-radius: 8px !important;
  font-weight: bold;
}

details {
  background: transparent !important;
  border: 1px solid #D2D2FF !important;
  border-radius: 8px !important;
  font-weight: bold;
}

[data-theme='dark'] summary {
  color: #D2D2FF;
}


details div[class^='collapsibleContent'] {
  border-top: 1px solid #7D6EFF;
  color: #7D6EFF;
}

details div[class^='collapsibleContent'] a {
  color: #7D6EFF;
  text-decoration-color: #7D6EFF;
}

summary {
  color: #14193C;
}

summary:before {
  border-color: transparent transparent transparent var(--ifm-color-primary) !important;
}

pre {
  background: #F5F5FF !important;
}
[data-theme='dark'] .details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module {
  background: #323440;
  border: none !important;
  font-weight: bold;
}

/* .navbar__toggle {
  color: white;
} */

/* @media (max-width: 996px) {
  .menu__list-item-collapsible a, .menu__link--active, .menu__link--active:hover, .menu__list-item-collapsible a:hover, .navbar-sidebar__back, .menu__list-item a, .menu__list-item a:hover {
    color: white;
  }
  .navbar-sidebar__close g {
    stroke: white;
  }
  .menu__link--sublist-caret path {
    fill: white;
  }
  .menu__link--sublist-caret:after {
    filter: brightness(0) invert(1);
  }
} */

img[alt=small-size] { width: 200px; }

.lk-link {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: #7D6EFF;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 996px) {
  .navbar__item.lk-link {
    display: none;
  }
}


.lk-link svg {
  display: none;
}

.lk-link:hover, .lk-link:focus, .lk-link:active {
  text-decoration: none;
  color: white;
}

.lk-link:hover {
  background: #8778FF;
}

.lk-link:active {
  background: #7864FF;
}

.alert--info, .alert--warning, .alert--success, .alert--secondary  {
  border-radius: 0;
  box-shadow: none;
}

div[class^='admonitionHeading'] {
  margin-bottom: 1rem !important;
}

.alert--info p code, .alert--info ul code{
  color: #0073E1;
  background: #BEE1FF;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.alert--success p code{
  color: #009650;
  background: #B9EBD2;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.alert--warning p code{
  color: #D7781E;
  background: #FFE1C3;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.alert--secondary  p code{
  color: #646973;
  background: #E1E6F0;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.alert pre {
  background: #FAFCFF !important;
}

div[class*='codeBlockContainer'] {
  box-shadow: none !important
}



span[class^='admonitionIcon'] {
  display: none !important;
}



table thead tr {
  border-width: 1px;
}

table thead {
  background: #F0F2F5;
}

[data-theme='dark'] table thead {
  background: #1B1B1D;
}

[data-theme='dark'] .alert p {
  color: white;
}

a[class*='cardContainer'] {
  box-shadow: none;
}

@media (max-width: 436px) {
  .navbar__logo img {
    max-width: 180px;
  }
}

.news-banner {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 30px;
}

.markdown li {
  margin-top: var(--ifm-list-item-margin);
}