.footerWrap {
  background: #f4f6fa;
}

.footerWrap iframe {
  width: 100%;
  height: 531px;
}

@media (max-width: 992px) {
  .footerWrap iframe {
    width: 100%;
    height: 712px;
  }
}

@media (max-width: 768px) {
  .footerWrap iframe {
    width: 100%;
    height: 1006px;
  }
}

@media (max-width: 436px) {
  .footerWrap iframe {
    width: 100%;
    height: 1430px;
  }
}
