.footerWrap {
  background: #f4f6fa;
}

.footerWrap iframe {
  width: 100%;
  height: 610px;
}

@media (max-width: 1120px) {
  .footerWrap iframe {
    width: 100%;
    height: 712px;
  }
}

@media (max-width: 1040px) {
  .footerWrap iframe {
    width: 100%;
    height: 830px;
  }
}

@media (max-width: 900px) {
  .footerWrap iframe {
    width: 100%;
    height: 1000px;
  }
}

@media (max-width: 768px) {
  .footerWrap iframe {
    width: 100%;
    height: 1200px;
  }
}

@media (max-width: 690px) {
  .footerWrap iframe {
    width: 100%;
    height: 1350px;
  }
}

@media (max-width: 468px) {
  .footerWrap iframe {
    width: 100%;
    height: 1670px;
  }
}
