.method {
  position: absolute;
  left: 30px;
  top: 30px;
  border-radius: 5px;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  background: #E4F0FF;
  color: #1482EB;
  z-index: 10;
  min-width: 80px;
  text-align: center;
}
.wrap {
  font-size: 16px;
  font-weight: bold;
}

.childrenWrap {
  padding: 17px;
  background: #EBF5FF;
  border-bottom: 1px solid #D2E9FF;
  position: relative;
}

.childrenWrap code {
  padding-left: 105px;
}