.pricesWrap {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f6fa;
}

.mainTitle {
  color: #1e283c;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 30px;
}

.subTitle {
  color: #1e283c;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 50px;
}

.prices {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.prices iframe {
  width: 100%;
  height: 1300px;
}

@media (max-width: 800px) {
  .prices iframe {
    height: 1900px;
  }
}

@media (max-width: 424px) {
  .prices iframe {
    height: 2300px;
  }
}

.prices tbody {
  background: white;
}
@media (max-width: 768px) {
  .libsBlock {
    grid-template-columns: repeat(1, 1fr);
  }
  .linkImg {
    width: 100%;
  }
  .links {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mainTitle {
    line-height: 40px;
    margin-bottom: 30px;
  }

  .pricesContainer {
    padding: 0;
  }
}
