.pricesWrap {
  padding-top: 115px;
  padding-bottom: 115px;
  background: #F5F8FF
}

.mainTitle {
  color: #191E32;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.prices {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .libsBlock {
    grid-template-columns: repeat(1, 1fr);
  }
  .linkImg {
    width: 100%;
  }
  .links {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mainTitle {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

.priceBlock {
  background: white;
  border-radius: 10px;
  padding: 24px;
  width: 456px;
}

.blockTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.priceTitle {
  font-size: 24px;
  font-weight: 700;
  color: #191E32;
  line-height: 28px;
}

.priceType {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceTypeTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #191E32;
}

.priceTypeTitle span {
  color: #191E32;
}

.itemPrice {
  font-weight: 700;
  font-size: 22px;
  color: #191E32;
  text-align: right;
}

.priceTypes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 26px;
}

.paramsBlock {
  background: #F5F0FF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 60px;
  border-radius: 10px;
}

.paramTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.paramTitle span {
  color: #191E32;
}

.param {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.speedParam {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5570FF;
}

.successParam {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #00BE6E;
}

.btn {
  display: block;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
  background: #A54BFF;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.btn:hover, .btn:focus, .btn:active {
  color: white;
  text-decoration: none;
}