.wrapper {
  background: #6946ff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: block;
}
.wrapper:hover,
.wrapper:focus,
.wrapper:active {
  text-decoration: none;
}

.title {
  font-size: 2.3rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

@media (max-width: 1400px) {
  .title {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  max-width: 100%;
}
